@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Home";
    ViewData["Username"] = @ViewBag.User.Username;
    ViewData["User"] = @ViewBag.User;
}

<h1>What would you like to do, @ViewBag.User.Username?</h1>
<h5 class="text-success">@ViewBag.Success</h5>
<div class="card-row">
    <div class="card border-success mb-3 mt-3 ml-auto mr-auto">
        <div class="card-header border-success text-center">
            <b>Items</b>
        </div>
        <div class="card-body text-center">
            <div class="btn-group-vertical">
                <a asp-controller="Admin" asp-action="NewItem" class="btn btn-success">New Item</a>
                <a asp-controller="Admin" asp-action="ItemList" class="btn btn-success">Edit Item</a>

                <a asp-controller="Admin" asp-action="NewMainItemType" class="btn btn-success">New Main Item Type</a>
                <a asp-controller="Admin" asp-action="AllMainItemTypes" class="btn btn-success">Edit Main Item Type</a>

                <a asp-controller="Admin" asp-action="NewSubItemType" class="btn btn-success">New Sub Item Type</a>
                <a asp-controller="Admin" asp-action="AllSubItemTypes" class="btn btn-success">Edit Sub Item Type</a>
            </div>
        </div>
    </div>
    <div class="card border-success mb-3 mt-3 ml-auto mr-auto">
        <div class="card-header border-success text-center">
            <b>Abyssimals</b>
        </div>
        <div class="card-body text-center">
            <div class="btn-group-vertical">
                <a asp-controller="Admin" asp-action="AllMainItemTypes" class="btn btn-success">New Abyssimal Species</a>
            </div>
        </div>
    </div>
    <div class="card border-success mb-3 mt-3 ml-auto mr-auto">
        <div class="card-header border-success text-center">
            <b>Admins</b>
        </div>
        <div class="card-body text-center">
            <div class="btn-group-vertical">
                <a asp-controller="Admin" asp-action="NewAdmin" class="btn btn-success">Give Admin Status</a>
            </div>
        </div>
    </div>
    <div class="card border-success mb-3 mt-3 ml-auto mr-auto">
        <div class="card-header border-success text-center">
            <b>Admins</b>
        </div>
        <div class="card-body text-center">
            <div class="btn-group-vertical">
                <a asp-controller="Admin" asp-action="NewAdmin" class="btn btn-success">Give Admin Status</a>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/adminhome.css" />
}