@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Edit Type Chart";
    ViewData["User"] = @ViewBag.User;
}

<div class="card border-success mb-3 mt-3 ml-auto mr-auto" style="max-width: 75%;">
    <div class="card-header border-success text-center">
        <b>Editing Matchup Chart</b>
    </div>
    <div class="card-body text-success">
        <h5 class="card-title">Click on each box to change the type effectiveness.</h5>
        <p class="card-text">Attacking types are on the left, defending types are on the top.
        </p>
    </div>
</div>
<p id="hideme" style="display:none;">@ViewBag.AllElementalTypes.Count</p>
@model IDictionary<int, Matchup>
<div class="matchup-container">
    
</div>


@section Scripts{
    <script>
    $(function(){
        var elementalcount = parseInt($("#hideme").text(), 10);
        $("#hideme").remove();
        generateTypeChart();

        function generateTypeChart(){
            $(".matchup-container").html("<div class='matchup'><p>PLN</p></div>");
        }

    });
    </script>
}
@section Styles{
    <link rel="stylesheet" href="~/css/edittypechart.css" />
}