@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Home";
    ViewData["Username"] = @ViewBag.User.Username;
    ViewData["User"] = @ViewBag.User;
}

<h1>Welcome home, @ViewBag.User.Username!</h1>
<h5 class="text-success">@ViewBag.Success</h5>
<div id="randomevent"></div>

@section Scripts{
    <script src="~/js/dialogue.js" data-textfile="../texts/example.json"></script>
}
